body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: lightslategray;*/
  /*color: white;*/
}

ul.blocks {
  list-style-type: none;
  padding: 0;
}

ul.blocks li {
  margin: 10px 0;
}

.block-padding {
  padding: 10px;
}

.top-block {
  background-color: lightslategray;
  color: white;
}

h3 {
  margin: 0
}